.characterEditor {
    padding-top: 128px;
    padding-bottom: 64px;
    position: relative;
}

.maxWidthWrapper {}

.header {
    width: 65%;
    padding-bottom: 64px;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
}

.description {
    font-size: 1.25rem;
    margin: 0;
}

.characterWrapper {
    min-height: 500px;
    position: fixed;
    top: 16%;
    right: 8%;
    width: 400px;
}

.controlColumn {
    width: 50%;
}
